/Keygen/Keygen/bin/Debug/netcoreapp2.1/Keygen.deps.json
/Keygen/Keygen/bin/Debug/netcoreapp2.1/Keygen.dll
/Keygen/Keygen/bin/Debug/netcoreapp2.1/Keygen.pdb
/Keygen/Keygen/bin/Debug/netcoreapp2.1/Keygen.runtimeconfig.dev.json
/Keygen/Keygen/bin/Debug/netcoreapp2.1/Keygen.runtimeconfig.json
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.AssemblyInfo.cs
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.AssemblyInfoInputs.cache
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.assets.cache
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.csproj.CoreCompileInputs.cache
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.csproj.FileListAbsolute.txt
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.csprojAssemblyReference.cache
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.dll
/Keygen/Keygen/obj/Debug/netcoreapp2.1/Keygen.pdb
/Keygen/Keygen/obj/Keygen.csproj.nuget.cache
/Keygen/Keygen/obj/Keygen.csproj.nuget.dgspec.json
/Keygen/Keygen/obj/Keygen.csproj.nuget.g.props
/Keygen/Keygen/obj/Keygen.csproj.nuget.g.targets
/Keygen/Keygen/obj/project.assets.json
